#page-content.page-content.page-container
  .padding
    .row.container-fluid
      .col-lg-12.grid-margin.stretch-card
        .card.border-0
          .card-body
            h4.card-title Você também pode gostar
            .owl-carousel
              .item
                img(src='https://via.placeholder.com/150x180' alt='image')
              .item
                img(src='https://via.placeholder.com/150x180' alt='image')
              .item
                img(src='https://via.placeholder.com/150x180' alt='image')
              .item
                img(src='https://via.placeholder.com/150x180' alt='image')
              .item
                img(src='https://via.placeholder.com/150x180' alt='image')
              .item
                img(src='https://via.placeholder.com/150x180' alt='image')
              .item
                img(src='https://via.placeholder.com/150x180' alt='image')
              .item
                img(src='https://via.placeholder.com/150x180' alt='image')
              .item
                img(src='https://via.placeholder.com/150x180' alt='image')
              .item
                img(src='https://via.placeholder.com/150x180' alt='image')
              .item
                img(src='https://via.placeholder.com/150x180' alt='image')
