// Footer
footer.footer-bg.text-center.text-white
  .container-fluid.p-4
    section.mb-4
      // Facebook
      a.btn.btn-outline-primary.btn-floating.m-1(href='#!' role='button')
        i.fab.fa-facebook-f
      // Twitter
      a.btn.btn-outline-primary.btn-floating.m-1(href='#!' role='button')
        i.fab.fa-twitter
      // Google
      a.btn.btn-outline-primary.btn-floating.m-1(href='#!' role='button')
        i.fab.fa-google
      // Instagram
      a.btn.btn-outline-primary.btn-floating.m-1(href='#!' role='button')
        i.fab.fa-instagram
      // Linkedin
      a.btn.btn-outline-primary.btn-floating.m-1(href='#!' role='button')
        i.fab.fa-linkedin-in
      // Github
      a.btn.btn-outline-primary.btn-floating.m-1(href='#!' role='button')
        i.fab.fa-github
    section
      form(action='')
        .row.d-flex.justify-content-center
          .col-auto
            p.pt-2
              strong Se inscreva na nossa newsletter
          .col-md-5.col-12
            .form-outline.form-white.mb-4
              input#emailnews.form-control(type='email')
              label.form-label(for='emailnews') Email
          .col-auto
            // Submit button
            button.btn.btn-outline-primary.mb-4(type='submit')
              | Inscrever
          section.mb-4
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
              | repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
              | eum harum corrupti dicta, aliquam sequi voluptate quas.
          section
            .row
              .col-lg-3.col-md-6.mb-4.mb-md-0
                h5.text-uppercase SAC
                ul.list-unstyled.mb-0
                  li
                    a.text-white(href='#!') Link 1
                  li
                    a.text-white(href='#!') Link 2
                  li
                    a.text-white(href='#!') Link 3
                  li
                    a.text-white(href='#!') Link 4
              .col-lg-3.col-md-6.mb-4.mb-md-0
                h5.text-uppercase Ajuda
                ul.list-unstyled.mb-0
                  li
                    a.text-white(href='#!') Link 1
                  li
                    a.text-white(href='#!') Link 2
                  li
                    a.text-white(href='#!') Link 3
                  li
                    a.text-white(href='#!') Link 4
              .col-lg-3.col-md-6.mb-4.mb-md-0
                h5.text-uppercase Shop
                ul.list-unstyled.mb-0
                  li
                    a.text-white(href='#!') Link 1
                  li
                    a.text-white(href='#!') Link 2
                  li
                    a.text-white(href='#!') Link 3
                  li
                    a.text-white(href='#!') Link 4
              .col-lg-3.col-md-6.mb-4.mb-md-0
                h5.text-uppercase Legal
                ul.list-unstyled.mb-0
                  li
                    a.text-white(href='#!') Link 1
                  li
                    a.text-white(href='#!') Link 2
                  li
                    a.text-white(href='#!') Link 3
                  li
                    a.text-white(href='#!') Link 4
            .mt-4
            .text-center.p-3(style='background-color: rgba(0, 0, 0, 0.2);')
              | © 2022 Copyright:
              a.text-white(href='#') Minha loja

