.jumbotron.jubotron-fluid.myCustomHero
  .container
    h1.text-center.display-4 Oferta!
    p.lead.text-center
      | Lorem ipsum
    //hr.my-4
    p.text-right
      a.btn.btn-outline-secondary.btn-lg.border(href='/homepage' role='button') Saiba mais
